UCAM-CL-TR-947.pdf
bib.bib
cheri_misidioms.aux
cheri_misidioms.bbl
cheri_misidioms.blg
cheri_misidioms.log
cheri_misidioms.out
cheri_misidioms.pdf
cheri_misidioms_preamble.fmt
cheri_misidioms_preamble.log
cheri_misidioms_preamble.aux
cheri_misidioms_preamble.fls
cheri_misidioms_preamble.fdb_latexmk
cheri_misidioms.fdb_latexmk
cheri_misidioms.fls
pdflatex1681.fls
softdevbib/
